@inject Services.IActionLoader Actions;
@inject Services.ISettingsLoader sl;
@inject Services.IProvincesLoader pr;
@inject Services.IPlayersLoader players;

@code{
    [Parameter] public Action Return { get; set; } = (() => { });
    [Parameter] public State.Province? From { get; set; }
    [Parameter] public State.Province? To { get; set; }
    [Parameter] public State.Player? Player { get; set; }
    Models.CmdMove model = new Models.CmdMove();
    public int Limit { get; set; }
    protected override void OnInitialized()
    {
        Limit = (int)pr.Provinces.CanMove(From!, To!);
        if (Limit == 0)
        {
            Return();
        }
        model.Type = From!.IsAllyOf(To!.Army) ? Models.MoveType.Reinforcement : Models.MoveType.Attack;
        model.Soldiers = Limit;
    }
    void DoMove()
    {
        var move = model.Type == Models.MoveType.Attack
                  ? new Dynamics.Commands.Attack(Player!.Id, From!.Id, To!, new State.PlayerArmy(sl.Settings, Player, (uint)model.Soldiers)) as Dynamics.Commands.Move
                  : new Dynamics.Commands.Reinforcement(Player!.Id, From!.Id, To!, new State.PlayerArmy(sl.Settings, Player, (uint)model.Soldiers));
        if (Actions.Add(move))
        {
            Return();
        }
    }
}
@if (model.Soldiers > Limit)
{
    <p>Z místa @From!.Name na místo @To!.Name se může přesunout nejvýše @Limit vojáků</p>
}
@{ 
    var submit_text = model.IsAttack ? "Zaútočit" : "Podpořit";
}
<EditForm Model="@model" OnValidSubmit="DoMove">
    <DataAnnotationsValidator /><ValidationSummary />
    <label>
        Kolik vojáků chceš přesunout z provincie @From!.Name (@(From!.Soldiers)@Sym.Soldiers) směrem <Province This="@To" /> (@(To!.Soldiers)@Sym.Soldiers)?<br />
        <InputNumber @bind-Value="model.Soldiers" min="1" autofocus /><br />
    </label>
    @if (!From!.IsAllyOf(To!.Army))
    {
        <label>
            Typ přesunu:<br />
            <InputSelect @bind-Value="model.Type">
                <option value="@Models.MoveType.Attack">Útok</option>
                <option value="@Models.MoveType.Reinforcement">Podpora</option>
            </InputSelect><br />
        </label>
    }
    <button type="submit">@submit_text</button>
</EditForm>