@inject Services.IPlayersLoader players;
@inject Services.IActivePlayer active;
@inject Services.ISettingsLoader sl;
@inject Services.IPowersLoader powers;

@using Mode = GameSwitch.Mode; 

@code{
    [Parameter] public Action<Mode, State.Land?, State.Land?, State.Player?> Switch { get; set; } = ((a, x, y, z) => { });
    [Parameter] public int LoggedIn { get; set; }
    [Parameter] public Action NextTurn { get; set; } = (() => { });
    [Parameter] public Action LogOut { get; set; } = (() => { });
    [Parameter] public Mode This { get; set; }
    string ClassFor(Mode mode) => mode == This ? "this" : "";
    void GoTo(Mode s) => Switch(s, null, null, null);
}

<style>
    nav>a:hover {
        background-color: @(players[LoggedIn].Color.ToString() + "60");
    }
    nav>a.this {
        background-color: @(players[LoggedIn].Color.ToString());
    }
</style>

<nav>
    @if (LoggedIn == active.Id && sl.Settings.Started)
    {
        <a @onclick="NextTurn">Konec</a>
    }
    else
    {
        <a @onclick="LogOut">Odhlášení</a>
    }
    <a class="@ClassFor(Mode.Map)" @onclick="@(() => GoTo(Mode.Map))">Imperit</a>
    <a class="@ClassFor(Mode.Players)" @onclick="@(() => GoTo(Mode.Players))">@(players[LoggedIn].Money)@Sym.Money</a>
    <a class="@ClassFor(Mode.Preview)" @onclick="@(() => GoTo(Mode.Preview))">Náhled</a>
    @if (powers.Count > 2)
    {
        <a class="@ClassFor(Mode.Powers)" @onclick="@(() => GoTo(Mode.Powers))">Historie</a>
    }
    @if (This == Mode.CmdMove)
    {
        <a class="this">Přesun</a>
    }
    else if (This == Mode.CmdPurchase)
    {
        <a class="this">Nákup</a>
    }
    else if (This == Mode.CmdRecruit)
    {
        <a class="this">Verbování</a>
    }
    else if (This == Mode.CmdRepay)
    {
        <a class="this">Splátka</a>
    }
    else if (This == Mode.CmdTransaction)
    {
        <a class="this">Transakce</a>
    }
</nav>