@inject Services.ISettingsLoader sl;
@inject Services.IPlayersLoader players;
@inject Services.IProvincesLoader pr;
@inject Services.IActionWriter actions;
@inject Services.IActivePlayer active;
@inject Services.IPlayersPowers powers;
@inject Services.IEndOfTurnManager end;

@code{
    [Parameter] public int LoggedIn { get; set; }
    [Parameter] public Action<int?> LogIn { get; set; } = (x => { });
    string Mode = "";
    State.Province? From = null, To = null;
    State.Player? SelectedPlayer = null;
    void Switch(string mode = "", State.Province? from = null, State.Province? to = null, State.Player? player = null)
    {
        Mode = mode;
        From = from;
        To = to;
        SelectedPlayer = player;
        this.StateHasChanged();
    }
    void NextTurn()
    {
        if (LoggedIn == active.Id)
        {
            int next = end.Next();
            if (sl.Settings.SingleClient || !players[next].Alive)
            {
                LogIn(next);
            }
            Switch("");
        }
    }
}
<GameMenu NextTurn="NextTurn" LoggedIn="LoggedIn" LogOut="@(() => LogIn(null))" Switch="Switch" This="@Mode"/>
<main>
    @if (Mode == "Players")
    {
        <Players LoggedIn="@players[LoggedIn]" Switch="Switch"/>
    }
    else if (Mode == "History")
    {
        <History/>
    }
    else if (Mode == "Powers")
    {
        <Powers Switch="Switch"/>
    }
    else if (Mode == "Preview")
    {
        <Preview/>
    }
    else if (Mode == "CmdLoan")
    {
        <CmdLoan Player="@players[LoggedIn]" Return="@(() => Switch())"/>
    }
    else if (Mode == "CmdTransaction")
    {
        <CmdTransaction Player="@players[LoggedIn]" Associate="@SelectedPlayer" Return="@(() => Switch())"/>
    }
    else if (Mode == "CmdMove")
    {
        <CmdMove Player="@players[LoggedIn]" From="@From" To="@To" Return="@(() => Switch())"/>
    }
    else if (Mode == "CmdRecruit" && To is State.Land L1)
    {
        <CmdRecruit Player="@players[LoggedIn]" Land="@L1" Return="@(() => Switch())"/>
    }
    else if (Mode == "CmdPurchase" && To is State.Land L2)
    {
        <CmdPurchase Player="@players[LoggedIn]" Land="@L2" Return="@(() => Switch())"/>
    }
    else
    {
        <GameMap Player="@players[LoggedIn]" IsActive="@(LoggedIn == active.Id)" Switch="Switch"/>
    }
</main>