@inject Services.IActionLoader actions;
@inject Services.IActivePlayer active;
@inject Services.IPlayersLoader players;
@inject Services.IProvincesLoader pr;

@using Mode = GameSwitch.Mode;

@code{
    [Parameter] public State.Player? LoggedIn { get; set; }
    [Parameter] public Action<Mode, State.Land?, State.Land?, State.Player?> Switch { get; set; } = ((a, x, y, z) => { });
    void Borrow()
    {
        Switch(Mode.CmdLoan, null, null, null);
    }
    void Donate(State.Player player)
    {
        Switch(Mode.CmdTransaction, null, null, player);
    }

}
<p>Přihlášen: <Player Who="@LoggedIn" /></p>
<p>Hraje: <Player Who="@players[active.Id]" /></p>
<br />

<table>
    @foreach (var player in players)
    {
        <tr>
            @if (player.Alive)
            {
                <td><Player Who="@player"/></td>
                <td>@(player.Money)@Sym.Money</td>
                <td>(+@(player.Income)@Sym.Money)</td>
                @if (player == LoggedIn)
                {
                    <td class="link-like" @onclick="Borrow">Půjčka</td>
                }
                else
                {
                    <td class="link-like" @onclick="@(() => Donate(player))">Věnovat</td>
                }
            }
            else
            {
                <td><Player Who="@player" /></td>
                <td colspan="3">je na tom jako Bůh</td>
            }
        </tr>
    }
</table>
<br />
@foreach (var land in pr.Provinces.Select(p => p as State.Land).NotNull().Where(l => !l.IsStart && l.Occupied))
{
    <p>Riziko odtržení země <Province This="land" />: @((land.Instability * 100 + 0.2).ToString("0.0")) %</p>
}
@foreach (var action in actions.Actions)
{
    @if (action is Dynamics.Actions.Attack attack)
    {
        <p><Player Who="@((attack.Army as State.PlayerArmy)!.Player)" /> pochoduje s @attack.Soldiers vojáky směr <Province This="pr.Provinces[attack.Province]" /> s úmyslem zaútočit</p>
    }
    else if (action is Dynamics.Actions.Reinforcement reinforcement)
    {
        <p>Do provincie <Province This="pr.Provinces[reinforcement.Province]" /> dorazí na pomoc @reinforcement.Soldiers vojáků</p>
    }
    else if (action is Dynamics.Actions.Loan loan)
    {
        <p><Player Who="players[loan.Debtor]" /> &ndash; dluh: @(loan.Remaining)@Sym.Money, splátka: @(loan.Repayment)@Sym.Money/kolo</p>
    }
}