@code{
    [Parameter] public int Width { get; set; }
    [Parameter] public int Height { get; set; }
    [Parameter] public int FontSize { get; set; }
    [Parameter] public Action OnClick { get; set; } = (() => { });
    [Parameter] public State.Province? Province { get; set; }
    [Parameter] public State.Point Center { get; set; }
    [Parameter] public Func<State.Province, State.Color> ColorFn { get; set; } = Shape.ColorOf;
}

<a fill="#fff" font-size="@FontSize px" text-anchor="middle" @onclick="OnClick">
    <text x="@(Center.x * Width)" y="@(Center.y * Height - FontSize)">@Province!.Name</text>
    <text x="@(Center.x * Width)" y="@(Center.y * Height)">@(Province.Soldiers)&#x1F468; @if (Province is State.Land land){<Money>+@land.Earnings</Money>}</text>
    @if (Province is State.Port Port)
    {
        <text><text x="@(Center.x * Width)" y="@(Center.y * Height + FontSize)">@(Port.CanBoard)&#x2693;</text></text>
    }
</a>